<div class="col-md-4 float-left">
    <h1>Related Videos {{hero}}</h1>
    <div class="card mt-3" *ngFor="let video of videos">
        <div class="card-body">
            <h4 class="card-title">{{video.name}}</h4>
            <!-- <p class="card-text">{{video.description}}</p> -->
            <video class="w-100" controls>
                    <source src="{{video.url}}" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
            <!-- <a class="btn btn-primary mt-5" (click)="gotoDetails(video._id)">See details</a> -->
            <a class="btn btn-primary mt-5" [routerLink]="['/videos/details/', video._id]">See details</a>

        </div>
    </div>
</div>