<div class="pt-4  pb-5" (window:scroll)="onScroll($event)">
    <h1>List of Videos</h1>
    <div class="card mt-3" *ngFor="let video of videos">
        <div class="card-body">
            <h4 class="card-title">{{video.name}}</h4>
            <!-- <p class="card-text">{{video.description}}</p> -->
            <video class="w-100" controls>
                    <source src="{{video.url}}" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
            <a href="#" class="btn btn-primary mt-5" [routerLink]="['./details/', video._id]">See details</a>
        </div>
        <!-- <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%"> -->
    </div>
</div>